// Variables

/* Colors */
// Theme Colors
$primary: rgb(165, 37, 67);
$secondary: rgb(84, 127, 220);
$tertiary: rgb(240, 214, 83);

// Defaults
$white: #fff;
$black: #444a51;

// Variations
$lighten: 5;
$darken: 25;

$colors: (
  primary: (
    base: $primary,
    light: lighten($primary, $lighten),
    dark: darken($primary, $darken)
  ),
  secondary: (
    base: $secondary,
    light: lighten($secondary, $lighten),
    dark: darken($secondary, $darken)
  ),
  tertiary: (
    base: $tertiary,
    light: lighten($tertiary, $lighten),
    dark: darken($tertiary, $darken)
  )
);
/* --- */

/* Typography */
// Fonts
$primary-font-family: 'DM Sans', sans-serif;
$primary-font-weight: 400;
$primary-font-weight-bold: 600;

$heading-font: 'Poppins', sans-serif;
$heading-font-weight: 600;

// Sizes
$base-font-size: 16px;

// Paragraph Styles
$body-text-color: rgb(50, 50, 50) !default;
$paragraph-size: rem(18px);
$paragraph-line-height: 1.5em;
$paragraph-margin: 20px;

// Header Styles
$header-color: #000000;
$header-size: rem(40px);
$header-line-height: 1.25em;
$header-margin: $paragraph-margin * 1.2;

// Links
$link-color: dodgerblue; // 😎
/* --- */

/* Buttons */
$button-corners: 1.5rem;
