// Variables

// Colors
$red: rgb(165, 37, 67);
$blue: rgb(84, 127, 220);
$yellow: rgb(240, 214, 83);
$green: rgb(51, 148, 95);

// Typography
$body-text-color: rgb(50, 50, 50);

$base-font-size: 16px;
$base-line-height: 1.1rem;

$primary-font: 'DM Sans', sans-serif;
$secondary-font: 'Poppins', sans-serif;

// Buttons
$button-corners: 0.4rem;
