body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  text-shadow: rgba(74, 68, 73, 0.01) 0px 0px 1px;
  font-family: $primary-font;
  font-weight: 400;
  box-sizing: border-box;
  word-wrap: break-word;
  font-kerning: normal;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
  font-weight: 600;
}

h1 {
  font-size: $base-font-size * 3;
  line-height: $base-line-height * 1.2;
}

h2 {
  font-size: $base-font-size * 2.6;
  line-height: $base-line-height * 1.1;
}

p {
  color: $body-text-color;
}
