button {
  background-color: clr(primary);
  color: rgb(255, 255, 255);
  border-color: transparent;
  border-radius: $button-corners;
  outline: none;
  cursor: pointer;
  font-size: inherit;
  font-family: $primary-font-family;
  font-weight: $primary-font-weight;

  &:hover {
    background-color: clr(primary, dark);
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
  }

  &.big {
    padding: 0.65rem 1.5rem;
  }

  &.small {
    padding: 0.45rem 1rem;
  }
}
